.jumbotron{
    background-image: url('/static/images/annie-spratt-dSZQC7vVf5M-unsplash.jpg');
    /* background-color: rgb(59, 52, 52); */
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-size: 100%;
    color:rgb(209, 224, 208);
    /* object-fit: cover; */
}
a{
    color:rgb(209, 224, 208);
}
.card{
    background-color: transparent;
}