{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div style="widows:108%;display:flex;justify-content: center;margin-top: 2%;">
     
     
      <!-- Output to Display error in login -->
      <div class="loginform">
          {% if form.errors %}
          <p > Password or Username is incorrect </p>
          {% endif %}
         


          <div  class="panel panel-default">

 
              
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStVujXo2VNg3J9k3dv-xMEKsrR-X67NX8dPg&usqp=CAU">
              

              <div class="panel-body">

                  <form action="/accounts/login/" method="post">
                      {% csrf_token %} {% bootstrap_form form%}

                      <div class="form-group">
                          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Login">
                      </div>

                      <div class="col-xs-10"></div>
                      <h2 class="text-center">
                          <small>OR</small>
                      </h2>
                      <div class="col-xs-2"></div>

 
                      <div class="panel-heading">
                          <p class="_g9ean pull-left">Don't have an account?</p>
                          <a href="/accounts/register/" class="btn btn-primary panel-default">Sign Up</a>
                      </div>
                      
                      <input type="hidden" name="next" value="{{next}}">

                  </form>

                  
              </div>

              

          </div>
       

      </div>


  </div>

         
</div>



{% endblock %}
{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/hood.css' %}">
{% endblock %}